$background-color: #9E6000;
$lightest-color: #FFDFAF;
$light-color: #D8AF70;
$dark-color: #855A1A;
$darkest-color: #593702;

@font-face {
  font-family: DecoNeueLight;
  src: url(DecoNeue-Light.otf);
}

body {
  background: $background-color url('background.png');
}

h1, h2, h3 {
  font-family: DecoNeueLight, Helvetica, Times, serif;
}

.page-container {
  padding: 0.1rem;
  max-width: 600px;
  margin: 10px auto;
  background-color: $light-color;
}

.page-container-inner {
  border: $dark-color dashed;
  padding: 2rem;
}

nav {
  vertical-align: top;
}

nav .singleMenu {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

nav .singleMenu > div {
  display: inline-block;
  width: 45%;
}

nav .groupMenu {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

h3 {
  width: 40%;
  display: inline-block;
}

[itemprop=telephone] {
  display: block;
}

[itemprop=email] {
  display: block;
}

.menu-item {
  position: relative;
}

[itemprop=price],.price {
  position: absolute;
  right: 0;
}

[itemprop=price] + [itemprop=price] {
  right: 5rem;
}

.gallery {
  max-height: 295px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  img {
    width: 100%;
    height: auto;
  }

  div {
    display: inline-block;
  }
}
