$background-color: #9E6000;
$lightest-color: #FFDFAF;
$light-color: #D8AF70;
$dark-color: #855A1A;
$darkest-color: #593702;

@font-face {
  font-family: DecoNeueLight;
  src: url(DecoNeue-Light.otf);
}

body {
  background: $background-color url('background.png');
}

h1, h2, h3 {
  font-family: DecoNeueLight, Helvetica, Times, serif;
}

.page-container {
  padding: 0.1rem;
  max-width: 600px;
  margin: 3rem auto 10px;
  background-color: $light-color;
}

.page-container-inner {
  border: $dark-color dashed;
  padding: 2rem;
}

nav {
  vertical-align: top;
}

nav .singleMenu {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

nav .singleMenu > div {
  display: inline-block;
  width: 45%;
}

nav .groupMenu {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

h3 {
  width: 40%;
  display: inline-block;
}

[itemprop=telephone] {
  display: block;
}

[itemprop=email] {
  display: block;
}

.menu-item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}

.menu-item > * {
  flex: 10 1 auto;
}

[itemprop=price],.price {
  flex: 0 0 4rem;
  padding-left: 0.5rem;
  text-align: right;
}

time[itemprop=openingHours] {
  display: block;
  margin-left: 2rem;
}

.gallery {
  border: 1px solid $dark-color;
  max-height: 295px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;

  .gallery-image {
    position: relative;
    display: inline-block;

    .gallery-image-title {
      position: absolute;
      left: 1rem;
      bottom: 0.5rem;
      color: $lightest-color;
      white-space: normal;
      font-weight: normal;
      letter-spacing: .15em;
      text-shadow: 0 0 5px $dark-color;
      font-size: 3rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }



  &::-webkit-scrollbar {
    display: none;
  }
}
