.page-container {
  max-width: 800px;
  margin: 10px auto;
}

nav {
  vertical-align: top;
}

nav .singleMenu {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

nav .singleMenu > div {
  display: inline-block;
  width: 45%;
}

nav .groupMenu {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

h3 {
  width: 40%;
  display: inline-block;
}
