$background-color: #9E6000;
$lightest-color: #FFDFAF;
$light-color: #D8AF70;
$dark-color: #855A1A;
$darkest-color: #593702;

body {
  background: $background-color url('background.png');
}

.page-container {
  padding: 0.1rem;
  max-width: 800px;
  margin: 10px auto;
  background-color: $light-color;
}

.page-container-inner {
  border: $dark-color dashed;
  padding: 2rem;
}

nav {
  vertical-align: top;
}

nav .singleMenu {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

nav .singleMenu > div {
  display: inline-block;
  width: 45%;
}

nav .groupMenu {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

h3 {
  width: 40%;
  display: inline-block;
}





